# vcrpy  # Needed by payment_pagseguro
odoo-test-helper  # Needed by spec_driven_model
pyopenssl==22.1.0
nfelib<=2.0.7
xmldiff
brazilcep
brazilfiscalreport
email-validator
erpbrasil.assinatura>=1.7.0
erpbrasil.base>=2.3.0
erpbrasil.edoc>=2.5.2
erpbrasil.transmissao>=1.1.0
nfelib<=2.0.7
num2words
odoo-addon-account_due_list>=16.0dev,<16.1dev
odoo-addon-account_due_list_payment_mode>=16.0dev,<16.1dev
odoo-addon-account_move_base_import>=16.0dev,<16.1dev
odoo-addon-account_payment_order>=16.0dev,<16.1dev
odoo-addon-account_payment_partner>=16.0dev,<16.1dev
odoo-addon-account_usability>=16.0dev,<16.1dev
odoo-addon-base_technical_features>=16.0dev,<16.1dev
odoo-addon-contract>=16.0dev,<16.1dev
odoo-addon-currency_rate_update>=16.0dev,<16.1dev
odoo-addon-delivery_carrier_partner>=16.0dev,<16.1dev
odoo-addon-hr_employee_relative>=16.0dev,<16.1dev
odoo-addon-mis_builder>=16.0dev,<16.1dev
odoo-addon-product_brand>=16.0dev,<16.1dev
odoo-addon-product_contract>=16.0dev,<16.1dev
odoo-addon-product_net_weight>=16.0dev,<16.1dev
odoo-addon-purchase_request>=16.0dev,<16.1dev
odoo-addon-report_wkhtmltopdf_param>=16.0dev,<16.1dev
odoo-addon-sale_invoice_plan>=16.0dev,<16.1dev
odoo-addon-sale_stock_picking_invoicing>=16.0dev,<16.1dev
odoo-addon-stock_picking_invoicing>=16.0dev,<16.1dev
odoo-addon-uom_alias>=16.0dev,<16.1dev
odoo-addon-web_responsive>=16.0dev,<16.1dev
odoo-addon-web_theme_classic>=16.0dev,<16.1dev
odoo>=16.0a,<16.1dev
phonenumbers
pyyaml
unidecode
workalendar
